<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" type = "text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}">

    <title>Hello, world!</title>
  </head>
  <body>
  <div class="container-fluid">
    <div class="row">
  
      <div class="col-lg-12" style="padding: 0; background-color: black;">
        
        <div class="friend">
          <h1 style="color:aliceblue;">Confirm Your Post</h1>
        </div>
        
      </div>
      <center>
        
        <form>
          {% for field in form %}
            {{ field.label }}: {{ field.value }}
            <br>
          {% endfor %}
        </form>
        <br>
      
        
        <form method = "post">
          {% csrf_token %}
          {{ form }}
          <br>
          
          <input type="submit" name="save" value="Save">
          <input type="submit" name="notsave" value="Notsave">
        </form>
        
      </center>

      
      </div>

    
      

  
    </div>
   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
    
    <script type = "text/javaScript" src = "{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>