<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" type = "text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}">

    <title>Hello, world!</title>
  </head>
  <body>
  <div class="container-fluid">
    <div class="row">
  
      <div class="col-lg-12" style="padding: 0; background-image: url('/static/images/background.jpg'); background-size:cover; background-repeat:no-repeat">
        
        <div class="friend">
          <h1 style="color:aliceblue;">POST YOUR STATUS</h1>
        <form method = "post" action="confirm">
          {% csrf_token %}
          {{ form }}
          <br>
          <button type = 'submit' > POST!</button>
        </form>
        </div>
        
      </div>
      </div>

    <div class="row">
      <div class="col-lg-12" style="padding: 0; background-color: #FFC7AD;">
      <br><br>
      <center>
        <button onclick="change()" name ='change'>Change</button>
      </center>
      <div class="d-flex flex-wrap justify-content-center">
        <br>
        
        
        {% for i in statusList %}
            <div class="card bg-white" style="width: 18rem; margin-left:2.5%; margin-right:2.5%; margin-top:2.5%; border-color: coral; ">
            <div class="card-header" name = 'statusTitle' style="color: #FF9193; font-weight: 1000" >Status</div>
            <div class="card-body">
            <h5 class="card-title" style="color: #FF9193;">{{i.username}}</h5>
            <p class="card-text" style="color: #FF9193;">{{i.status}}</p>
            </div>
            </div>
        {% endfor %}
      </div>

      </div>
      

    </div>
    </div>
   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
    
    <script type = "text/javaScript" src = "{% static 'js/bootstrap.min.js' %}"></script>
  </body>

  <script>
    function change() {
      var x = document.getElementsByName('statusTitle');
      var i;
      for(i = 0; i < x.length; i++) {
        x[i].style.color = 'black';
      }
    }
  </script>

</html>